.detail__page__wrapper {
    background-color: var(--white);
    padding: 5rem 0 5rem 0;
}

.description { 
    font-size: 1rem;color: var(--grey);line-height: 1.5;
}

.sku_detail { color: var(--orange);font-weight: 600; }
.sku_detail span { color: var(--dark);font-weight: 500; }
.price span:nth-child(1) { font-size: 2.5rem;font-weight: 700;color: var(--brand); }
.price span:nth-child(2) { font-size: 1.5rem;font-weight: 500;color: var(--grey);text-decoration: line-through; }
.price span:nth-child(3) { font-weight: 500;color: var(--grey);display: block; }

.table {
    width: 100%;
    background-color: #f9f9f9;
    padding: 1.25rem;

    td {
        padding: .35rem .5rem;font-size: 1rem;color: var(--dark);

        &:nth-child(1) {
            width: 200px;font-weight: 500;
        }
    }
}